{% extends "base.html.twig" %}

{% block title %}
    Administração
{% endblock %}

{% block body %}

    <main class="list-container-bg">
        <article class="bicicletas-lista">
            <h2 class="container font-1-xxl">Administração<span class="cor-p1">:</span></h2>

            <div class="btn-adicionar-container">
                <a href="{{ path('app_bicicleta_adicionar_form') }}" class="btn-adicionar botao">Adicionar</a>
            </div>

            <ul>
                {% for bicicleta in listaBicicletas %}
                    <li>
                        <a href="./bicicletas/magic.html">
                            <img src="./../img/bicicletas/{{ bicicleta.nomeImagem }}" alt="Bicicleta preta" width="920" height="1040">
                            <h3 class="font-1-xl">{{ bicicleta.nome }}</h3>
                            <span class="font-2-m cor-8">R$ {{ bicicleta.preco }}</span>
                        </a>
                        <div class="form-manipulacao">
                            <a class="editar botao" href="{{ path('app_bicicleta_editar', {bicicleta: bicicleta.id}) }}">Editar</a>
                            <form action="POST">
                                <button class="deletar botao">Deletar</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}

{#                <li>#}
{#                    <a href="./bicicletas/nimbus.html">#}
{#                        <img src="./../img/bicicletas/nimbus-home.jpg" alt="Bicicleta preta" width="920" height="1040">#}
{#                        <h3 class="font-1-xl">Nimbus Stark</h3>#}
{#                        <span class="font-2-m cor-8">R$ 4999</span>#}
{#                    </a>#}
{#                    <div class="form-manipulacao">#}
{#                        <a class="editar botao">Editar</a>#}
{#                        <form action="POST">#}
{#                            <button class="deletar botao">Deletar</button>#}
{#                        </form>#}
{#                    </div>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="./bicicletas/nebula.html">#}
{#                        <img src="./../img/bicicletas/nebula-home.jpg" alt="Bicicleta preta" width="920" height="1040">#}
{#                        <h3 class="font-1-xl">Nebula Cosmic</h3>#}
{#                        <span class="font-2-m cor-8">R$ 3999</span>#}
{#                    </a>#}
{#                    <div class="form-manipulacao">#}
{#                        <a class="editar botao">Editar</a>#}
{#                        <form action="POST">#}
{#                            <button class="deletar botao">Deletar</button>#}
{#                        </form>#}
{#                    </div>#}
{#                </li>#}
            </ul>
        </article>
    </main>

{% endblock %}